<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/fa-all.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://surveyjs.azureedge.net/1.0.73/surveyeditor.css" type="text/css" rel="stylesheet" />
    <title>ON-Surveys - <%=title%></title>
</head>

<body>
    <nav class="navbar justify-content-between navbar-expand-lg">
        <a class="navbar-brand" href="/admin">ON-Surveys</a>
        <div class="btn-group form-inline">
            <button class="btn btn-secondary btn-md dropdown-toggle" type="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <%=user.email%>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i>Log Out</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div id="sidebar" class="col-2 fullheight">
                <ul>
                    <div id="user">
                        <i class="fas fa-user-md"></i>
                        <p>ADMINISTRATOR</p>
                    </div>
                    <li>
                        <a class="btn btn-block sidebar-btn" href="/admin/patientList">
                            <i class="fas fa-list-alt"></i>Patients
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block sidebar-btn" href="/admin/surveyList">
                            <i class="fas fa-poll-h"></i>Surveys List
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-block sidebar-btn" href="/admin/createSurvey">
                            <i class="fas fa-folder-plus"></i>Create Survey
                        </a>
                    </li>
                </ul>
            </div>