<ul class="nav justify-content-end nav-pills">
    <% navBarElements.forEach(element =>{ %>
    <li class="nav-item">
        <a class="nav-link  <% if(title==element.name) {%> active <%}%> " href="<%=element.link%>">
            <%= element.name %> </a>
    </li>
    <% }) %>
    <% if(user){ %>
        <li class="nav-item">
            <a class="nav-link" href="/logout"> LogOut</a>
        </li>
    <% } %>
</ul>