<ul class="nav justify-content-end nav-pills">
    <% navBarElements.forEach(element =>{ %>
    <li class="nav-item">
        <a class="nav-link  <% if(title==element.name) {%> active <%}%> " href="<%=element.link%>">
            <%= element.name %> </a>
    </li>
    <% }) %>
</ul>