<% include ./partials/adminTop %>

            <div class="col-10 mainarea fullheight">
                <div class="card-deck">
                    <div class="card">
                        <img src="/public/img/patientlist.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body  text-right">
                            <h5 class="card-title">Patients</h5>
                            <p class="card-text">List of all the patients' information.</p>
                            <a href="/admin/patientList" class="btn btn-card ">Patients List</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/public/img/surveylist.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body  text-right">
                            <h5 class="card-title">Surveys List</h5>
                            <p class="card-text">List of all the surveys created.</p>
                            <a href="/admin/surveyList" class="btn btn-card ">Surveys</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/public/img/createsurvey.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body  text-right">
                            <h5 class="card-title">Create a Survey</h5>
                            <p class="card-text">Create a new survey.</p>
                            <a href="/admin/createSurvey" class="btn btn-card ">Create survey</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>