<% include ./partials/userTop %>

<div class="col-10 mainarea fullheight">
        <div id="surveyContainer" class="answerSurveyContainer"></div>

</div>

<script>
    const surveyData = `<%- surveyData %>`; 
    const surveyId = `<%=surveyId%>`;
    console.log(surveyData);
</script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="https://surveyjs.azureedge.net/1.0.77/survey.jquery.min.js"></script>
<script src="/public/js/answerSurvey.js"></script>
</body>

</html>