<% include ./partials/top %>

<!-- <h2 class="page-header">Login</h2> -->
<div class="login-container main-content">

    <% if(wrongInput){ %>
    <div class="alert alert-danger" role="alert">
        Wrong inputs!
    </div>
    <% } %>

    <form method="post" action="/login" class="login-form">
        <h4 class="form-header">Login form </h4>
        <div class="form-group">
            <!-- <label id="label">Email</label> -->
            <input type="email" class="form-control" name="username" value="GUEST@GUEST" placeholder="Email">
        </div>
        <div class="form-group">
            <!-- <label id="label">Password</label> -->
            <input type="password" class="form-control" name="password"  value="GUEST" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div>
            <p23 id="form-message"> Not a member? <a href="/register" id="link"> click to register </a> </p23>
        </div>
    </form>

</div>
<% include ./partials/bottom %>