<% include ./partials/userTop %>

<div class="col-10 mainarea fullheight">
    <div class="patientInfoTable">
        <h1>My profile information</h1>
        <table class="table table-sm">
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td><input id="name-input" type="text" value="<%= user.firstName %>" class="profileInfoInputs"></td>
                    <input id="userId" value="<%= user._id %>" type="hidden">
                </tr>
                <tr>
                    <th scope="row">Last Name</th>
                    <td><input id="lastName-input" type="text" value="<%= user.lastName %>" class="profileInfoInputs">
                    </td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td><%= user.email %>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Password</th>
                    <td><input id="password-input" type="password" placeholder="Change password"
                            class="profileInfoInputs"></td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex w-100 justify-content-end">
            <a href="#" class="btn btn-success" id="updateBtn"><i class="fas fa-user"></i>Update Profile Info</a>
        </div>

        <h1> Answered Surveys</h1>
        <div href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Survey title 1</h5>
                <small class="text-muted">3 days ago</small>
            </div>
            <div class="d-flex w-100 justify-content-end">
                <a href="/user/viewAnsweredSurvey" class="btn listOptionsBtn"><i class="fas fa-eye"></i>Answers</a>
            </div>
        </div>
        <div href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Survey title 2</h5>
                <small class="text-muted">5 days ago</small>
            </div>
            <div class="d-flex w-100 justify-content-end">
                <a href="#" class="btn listOptionsBtn"><i class="fas fa-eye"></i>Answers</a>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="/public/js/client.js"></script>
</body>

</html>