<% include ./partials/adminTop %>

<div class="col-10 mainarea fullheight">
    <h4> List with patients </h4>
    <div class="list-area">
        <div class="list-group">
            <% patients.forEach(patient =>{ %>
            <div href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1"><%= patient.firstName %> <%= patient.lastName %></h6>
                </div>
                <div class="d-flex w-100 justify-content-end">
                    <a href="/admin/patientProfile/<%= patient._id %>" class="btn listOptionsBtn"><i class="fas fa-user"></i>Info</a>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="/public/js/bootstrap.min.js"></script>

</body>

</html>