<% include ./partials/userTop %>

            <div class="col-10 mainarea fullheight">
                <div class="card-deck">
                    <div class="card">
                        <img src="/public/img/myprofile.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body  text-right">
                            <h5 class="card-title">My profile</h5>
                            <p class="card-text">Go to your profile's information.</p>
                            <a href="/user/myProfile" class="btn btn-card ">My profile</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/public/img/surveylist.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body  text-right">
                            <h5 class="card-title">Surveys List</h5>
                            <p class="card-text">List of all the surveys.</p>
                            <a href="/user/userSurveyList" class="btn btn-card ">Surveys</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>