<% include ./partials/adminTop %>

<div class="col-10 mainarea fullheight">
        <div id="surveyContainer" class="answerSurveyContainer"></div>

</div>

<script>
    
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="https://surveyjs.azureedge.net/1.0.77/survey.jquery.min.js"></script>
<script src="/public/js/viewUserAnsweredSurveys.js"></script>
</body>

</html>