body{
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(/public/img/1.jpg) no-repeat center center fixed;
	height: 100vh;
	background-size: cover;
	background-position:center;
	display: flex;
	flex-direction: column;
}

.main-content{
	width: 40vw;
}

.login-container{
	width: 40vw;
	padding: 8% 0 0;
	margin-top: auto;
	margin-bottom: auto;
	margin-left:10vh;
	display: flex;
}

.login-form{
	position: relative;
	background: rgba(29, 100, 130, 0.5);
	max-width: 500px;
	margin: 0 auto 100px;
	padding: 60px;
	text-align: center;
	border-radius: 15px;
}

.register-container{
	width: 40vw;
	padding: 4% 0 0;
	margin-top: auto;
	margin-bottom: auto;
	margin-left:10vh;
	display: flex;
}

@media screen and (max-width: 600px) {
	.register-container {
		width: 100%;
		padding: 0;
		margin-left:0;
		margin-top: auto;
	}
	.login-container{
		width: 100%;
		margin-left: 0;
	}
}

.register-form{
	position: relative;
	background: rgba(29, 100, 130, 0.5);
	max-width: 500px;
	margin: 0 auto 100px;
	padding: 60px;
	text-align: center;
	border-radius: 15px;
}

.form-group{
	font-family: "Roboto", sans-serif;
	outline: 1;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 10px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 14px;
	border-radius: 15px;
}

#link{
    color:white;
}

.form-header{
	font-family: "Roboto", sans-serif;
	color: white;
	font-size: 20px;
}

.btn{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #013b9b;
	width: 100%;
	border: 0;
	padding: 10px;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
	border-radius: 15px;
}

.btn:hover,.btn:active{
	background: #00358c;
}

.form button:hover,.form button:active{
	background: #00358c;
}

#form-message{
	color:#d0d7e5;
}

.navbar-brand{
	color:#055861;
  font-family: 'Franklin Gothic Medium';
  font-size: 25px;
}

.navbar-brand:hover{
	color:#055861;
}