/* navbar style  */
.navbar{
  background-color: #09b0c3;
}
.navbar-brand{
  color:white;
  font-family: 'Franklin Gothic Medium';
  font-size: 25px;
}
.navbar-brand:hover{
  color: white;
}
.btn-secondary{
  background-color: #1d2026;
  border: none;
}
.btn-secondary:hover{
  background-color: #333;
}

/* sidebar style  */
#sidebar{
  background-color: #1d2026;
  padding: 0;
}
#user{
  color:white;
  text-align: center;
  margin-top: 1em;

}
.sidebar-btn{
  margin-top: 1em;
  text-align: left;
  background-color: #1d2026;
  border: none;
  color:white
}
.sidebar-btn:hover{
  background-color: #09b0c3;
}

/* main area style  */
.mainarea{
  background-color: #f2f2f2;
}
.fullheight{
  height: 130vh;
}
ul{
  list-style: none;
  padding: 0;
}

.alert-danger{
  color:white;
}

/* icons in sidebar*/
.fas{
margin-right: 5px;
}
i.fas.fa-user-md{
  color:white;
  font-size: 60px;
  text-align: center;
}
i.fas.fa-user-alt{
  color:white;
  font-size: 60px;
  text-align: center;
}

/* cards style */
.card-deck{
  margin-top: 15px;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.btn-card{
  background-color: #09b0c3;
  border:none;
  color: #000;
}
.btn-card:hover{
  background-color: #0893a3;
}
.btn-card:active{
  background-color: #0893a3;
}

/* List area and list buttons */
.list-area{
  margin-top:15px;
  float:left;
  width: 100%;
  overflow-y: auto;
  max-height: 70vh;
}
.listButtons{
  margin-top: 15px;
  clear: left;
}
.listOptionsLinkBtn{
  width: 150px !important;
}

.listOptionsBtn{
  /* margin-left: 15px; */
  width: 100px;
  color: black;
  border:none;
  background-color: #09b0c3;
}
.listOptionsBtn:hover{
  background-color: #0893a3;
}
.listOptionsBtn:active{
  background-color: #0893a3;
}
a.btn.btn-link{
  margin-left: 15px;
  width: 100px;
  color: black;
}
.list-group-item.list-group-item-action.active{
  background-color: #e3e5e8;
  border:none;
  color:black;
}


/* surveyjs builder  */
.svd_commercial_container {
  display: none;
}


/* tables  */
.patientInfoTable{
  margin-top: 15px;
}

.profileInfoInputs{
  border:none;
}

.table{
  width:35%;
}

/* EDITOR COLORS */

.svd_container.svd_container.sv_bootstrap_css .btn-primary {
  color: rgb(255, 255, 255);
  background-color: #1d2026 !important;
  border-color:#1d2026 !important;
}

.svd_container.svd_container.sv_bootstrap_css .svd-secondary-icon .svd-svg-icon {
  fill:  #1d2026 !important;
}
.svd_container.svd_container.sv_bootstrap_css .nav-tabs > li.active > a {
  color: #1d2026 !important;
}
.svd_container.svd_container.sv_bootstrap_css .nav-tabs > li.cli > a {
  color: #1d2026 !important;
}
.svd_container.svd_container.sv_bootstrap_css a:hover {
  color: #1d2026 !important;
}
.svd_container.svd_container.sv_bootstrap_css .svd-primary-icon .svd-svg-icon {
  fill: #1d2026 !important;
}
.svd_container.svd_container.sv_bootstrap_css .svd-main-color {
  color:#1d2026 !important;
}
.svd_container.sv_bootstrap_css tr:focus, .svd_container.sv_bootstrap_css input[type="checkbox"]:focus + span.checkmark {
  outline-color:#1d2026 !important;
}
.svd_container.svd_container.sv_bootstrap_css .svd-main-background-color {
  background-color:#1d2026 !important;
}
.svd_container.svd_container.sv_bootstrap_css .icon-gearactive .svd-svg-icon {
  fill: #1d2026 !important;
}

.svd_container.svd_container.sv_bootstrap_css .svd_custom_select::before {
  background-color: #1d2026 !important;
}

.svd_container.svd_container.sv_bootstrap_css .svd-main-border-color {
  border-color:#1d2026 !important;
}
span:focus, .svd_container.sv_bootstrap_css div:focus, .svd_container.sv_bootstrap_css tr:focus, .svd_container.sv_bootstrap_css input[type="checkbox"]:focus + span.checkmark {
  outline-color: #1d2026 !important;
}
.svd_container.svd_container.sv_bootstrap_css .form-control:focus {
  border-color: #1d2026 !important;
}
.sv_main input[type="button"], .sv_main button {
  background-color: #1d2026 !important;
}
.svd_container span:focus{
  background-color: #1d2026 !important;

}
.sv_main .sv_body {
  border-top: 2px solid #1d2026 !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #1d2026;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_select_wrapper select{
  border-color: #1d2026 !important;
  color:#1d2026 !important;
}

.sv_main .sv_q_rating_item .sv_q_rating_item_text:hover {
    border: 1px solid #1d2026 !important;
}
.sv_main .sv_q_rating_item.active .sv_q_rating_item_text {
    background-color: #1d2026 !important;
    border-color: #1d2026 !important;
    color: white;
}

.sv_main .sv_q_other input:focus, .sv_main .sv_q_text_root:focus, .sv_main .sv_q_dropdown_control:focus, .sv_main input:not([type="button"]):not([type="reset"]):not([type="submit"]):not([type="image"]):not([type="checkbox"]):not([type="radio"]):focus, .sv_main select:focus, .sv_main textarea:focus {
  border: 1px solid #1d2026 !important;
}

.svd_container.svd_container.sv_bootstrap_css .nav-tabs > li.active > a {
  outline-color: #1d2026 !important;
}
.svd_container .editor-tabs > li.active > a{
  outline-color: #1d2026 !important;
}
.sv_main .sv_container .sv_body .sv_p_root .sv_q .sv_select_wrapper select{
  background-color: #fff !important;
}
.button-save{
  float: right;
  margin: 10px;
}

.answerSurveyContainer{
  max-height: 80vh;
  overflow: auto;
}

#createsurveyListArea{
  max-height: 80vh;
}

#userSurveyList{
  margin-top:15px;
  float:left;
  width: 100%;
  overflow-y: auto;
  max-height: 70vh;

}
.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  display: inline;
}


.dropdown-menu {
  font-size:18px;

}